.home {
  border-radius: 20px 20px 0px 0px;

  background-repeat: no-repeat;
  background-size: cover;
}

.Be-Ateacher-container {
  width: 100%;
  background-color: #3b003b;
  color: white;
  display: flex;
  direction: rtl;
}

.teacher-content-container {
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 50px 0;
}

.teacher-content-container button,
.join_us_div button {
  padding: 15px 40px;
  border: 3px solid #fb9700;
  border-radius: 5px 24px 5px 24px;
  transition: 0.5s ease;
  background: linear-gradient(45deg, #ffd700, #fffb7d, #ffd700);
  text-shadow: none !important;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.39);
  font-size: larger;
  border: 2px solid #a97400;
  color: black;
  font-size: 24px;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 0 #a97400, 0 6px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.teacher-content-container button::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 30px;
  top: 10px;
  right: 5px;
  background-color: rgba(245, 245, 245, 0.562);
  transform: rotate(-50deg);
  border-radius: 50%;
}

.teacher-content-container button:hover {
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.39);
  transform: translateY(-10px);
}

.teacher-text h1 {
  font-size: 40px;
  text-shadow: 4px 0px 0px rgba(0, 0, 0, 0.63);
}

.teacher-text p {
  font-size: 20px;
  text-shadow: 3px 0px 0px rgba(0, 0, 0, 0.63);
}

.Be-teacher-Form-container {
  width: 100%;

  padding: 20px 0;
}

.Be-teacher-Form-container h1 {
  font-size: 40px !important;
  width: fit-content;
  color: white;
  text-shadow: 4px 0px 0px black;
  margin: auto;
}

.teacher-form {
  width: 80%;
  background: linear-gradient(#3b003b, #3b003b) padding-box,
    linear-gradient(45deg, #ffd700, #fffb7d, #ffd700) border-box;
  border: 3px solid transparent;
  margin: 20px auto;
  padding: 15px;
  border-radius: 24px;
  direction: rtl;
  box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.363);
}

.teacher-form span {
  width: 100%;
}

.teacher-form span div {
  display: flex;
  align-items: center;
  padding: 10px;
}

.teacher-form span div input {
  padding: 0px !important;
  margin: 0px !important;
  width: 15px;
  height: 15px;
}

.teacher-form span div p {
  padding: 0;
  margin: 0;
  width: 50px;
  font-size: large;
  color: white;
}

.teacher-form span label {
  display: flex;
  align-items: center;
  direction: rtl;
  color: white;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  text-shadow: 3px 0px 0px black;
}

.teacher-form span label p {
  padding: 0;
  margin: 0;
  color: #ffd700;
}

.teacher-form span input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #ffd700;
  background-color: #fb970050;
  border-radius: 24px;
}

.teacher-form button {
  padding: 0px 30px;
  margin: 15px;

  border-radius: 4px;
  color: white;
  font-weight: bold;
  background: linear-gradient(45deg, #ffd700, #fffb7d, #ffd700);
  text-shadow: none !important;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.39);
  font-size: larger;
  border: 2px solid #a97400;
  color: black;
  font-size: 24px;
  font-family: "Arial", sans-serif;
  transition: 0.3s ease;

  box-shadow: 0 4px 0 #a97400, 0 6px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.form-btn {
  width: 100%;
  justify-content: end;
  display: flex;
}

@media (max-width: 950px) {
  .teacher-content-container {
    display: block !important;
  }

  .join_us_div {
    width: 100%;
    direction: ltr !important;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .teacher-text h1 {
    font-size: 25px;
    text-shadow: 4px 0px 0px rgba(0, 0, 0, 0.63);
    width: 100%;
  }

  .teacher-text p {
    font-size: 15px;
    text-shadow: 3px 0px 0px rgba(0, 0, 0, 0.63);
  }

  .teacher-content-container button {
    padding: 12px 40px;
    border: 3px solid #fb9700;
    border-radius: 5px 24px 5px 24px;
    background-color: #580e58;
    color: white;
    font-weight: bold;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.39);
    transition: 0.3s ease;
    margin: auto;
    display: block;
  }
}
